body {
    background-color: rgba(6, 10, 9, 0.959);
    background-image: url(/img/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: sans-serif;
    background-position: center;
    position: relative;
}
